@use "../../../../../../../../styles/variables" as *;

.container {
  grid-area: type;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  cursor: pointer;

  p {
    margin: 0 0 .5rem;
    font-weight: 700;
    color: $gray;
  }

  span {
    color: $yellow;
  }

  > div {
    position: relative;

    span {
      z-index: 10;
      position: absolute;
      top: .95rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.activeItem {
  p {
    text-shadow: 0 0 4px $gray;
  }

  span {
    text-shadow: 0 0 4px $yellow;
  }
}
