@use "../../../../../../../../styles/variables" as *;

.container {
  grid-area: fd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    text-align: center;

    p {
      margin: 0 0 .8rem;
      font-weight: 700;
      color: $gray;
    }

    span {
      color: $yellow;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
