@use "../../../../../../styles/variables" as *;

.container {
  $height: 48px;
  $width: $height * 4;
  display: flex;
  align-items: center;
  margin-left: auto;

  &:disabled {
    cursor: not-allowed;
  }

  h3 {
    font-family: $font-family-custom;
    color: $yellow;
    font-size: $font-size-sm;
    margin-right: .5rem;
    transition: color $default-transition 500ms;
  }

  svg {
    transition: transform $default-transition 750ms;

    path:nth-child(2) {
      transition: fill $default-transition 500ms;
    }
  }

  @media (min-width: 1300px) {
    margin-left: .75rem;
  }
}

.disabled {
  h3 {
    color: $gray;
  }

  svg {
    path:nth-child(2) {
      fill: $gray;
    }
  }
}
