@use "src/styles/variables" as *;

.container {
  padding: 0 1rem;
  border-radius: 4px;
  transition: box-shadow 250ms ease;

  path {
    fill: $yellow;
    transition: fill 250ms ease;
  }

  &:hover {
    box-shadow: 0 0 8px $light;

    path {
      fill: $light;
    }
  }
}
